<h1>Welcome to MiniUrl</h1>
<p>Welcome to MiniUrl where long and nasty looking URL's can be turned into short and snappy one's for your convenience. Choose a link below to get started.</p>
<%= link_to "View all MiniUrl's", urls_path %>
<br />
<%= link_to 'Create a MiniUrl', new_url_path %>
